.menu__burger{
   display: none;
}

@media (max-width: 760px) {
   .menu__burger{
      display: block;
      z-index: 5;
      position: absolute;
      top: 30px;
      width: 30px;
      height: 20px;
      cursor: pointer;
   }
   .menu__burger::after,
   .menu__burger::before,
   .menu__burger span{
      position: absolute;
      left: 0;
      height: 2px;
      width: 100%;
      background-color: #fff;
      transition: all 0.3s ease 0s;
   }
   .menu__burger::after,
   .menu__burger::before{
      content: '';
   }
   .menu__burger::after{
      top: 0;
   }
   .menu__burger::before{
      bottom: 0;
   }
   .menu__burger span{
      width: 100%;
      top: 50%;
      transform: scale(1) translate(0px, -50%);
   }

   .menu__burger.active span{
      transform: scale(0) translate(0px, -50%);
   }
   .menu__burger.active::before{
      bottom: 50%;
      transform: rotate(45deg) translate(0px, 50%);
   }
   .menu__burger.active::after{
      top: 50%;
      transform: rotate(-45deg) translate(0px, -50%);
   }
}